<div  ng-controller="EditRecurringDepositProductController">
  <div>
    <ul class="breadcrumb">
      <li><a href="#/products">{{'label.anchor.products' | translate}}</a> <span class="divider">/</span></li>
      <li><a href="#/recurringdepositproducts">{{'label.anchor.recurringdepositproducts' | translate}}</a> <span
              class="divider">/</span></li>
      <li><a href="#/viewrecurringdepositproduct/{{product.id}}">{{product.name}}</a> <span class="divider">/</span></li>
      <li class="active">{{'label.anchor.editrecurringdepositproduct' | translate}}</li>
    </ul>
    </div>
  <form name="createrecurringdepositproductform" novalidate="" class="well" rc-submit="submit()">
  <api-validate></api-validate>
  <table width="100%">
      <tr>
        <td width="40%">
          <label class="control-label">{{ 'label.input.productname' | translate }}&nbsp;<span class="required">*</span></label>
          <input id="name" ng-autofocus="true" name="name" type="text" ng-model="formData.name" required late-validate/>
            <form-validate valattributeform="createrecurringdepositproductform" valattribute="name"/>
        </td>
        <td width="30%">
          <label class="control-label">{{ 'label.input.currency' | translate }}&nbsp;<span class="required">*</span></label>
          <select id="currencyCode" ng-model="formData.currencyCode" ng-options="currency.code as currency.name for currency in product.currencyOptions" value="{{currency.code}}">
        </td>
        <td width="30%">
          <label class="control-label">{{ 'label.input.decimalplaces' | translate }}&nbsp;<span class="required">*</span></label>
          <input id="digitsAfterDecimal" type="text" name="decimalplace" class="input-mini-medium" ng-model="formData.digitsAfterDecimal" required late-validate/>
          <form-validate valattributeform="createrecurringdepositproductform" valattribute="decimalplace"/>
        </td>
      </tr>
      <tr>
        <td width="40%">
          <label class="control-label">{{ 'label.input.product.shortname' | translate }}&nbsp;<span class="required">*</span></label>
          <input type="text" id="shortName" name="shortName" ng-model="formData.shortName" maxlength="4" required late-validate/>
          <form-validate valattributeform="createrecurringdepositproductform" valattribute="shortName"/>
        </td>
        <td width="30%">
          <label class="control-label">{{ 'label.input.multiplesof' | translate }}&nbsp;<span class="required">*</span></label>
          <input id="inMultiplesOf" type="text" name="multiplesof" class="input-mini-medium" ng-model="formData.inMultiplesOf" required late-validate/>
          <form-validate valattributeform="createrecurringdepositproductform" valattribute="multiplesof"/>
        </td>
        <td width="30%">
          <label class="control-label">{{ 'label.input.nominalannualinterestrate' | translate }}&nbsp;<span class="required">*</span></label>
          <input id="nominalAnnualInterestRate" name="nominalAnnualInterestRate" type="text" class="input-mini-medium" ng-model="formData.nominalAnnualInterestRate" required late-validate/>
            <form-validate valattributeform="createrecurringdepositproductform" valattribute="nominalAnnualInterestRate"/>
        </td>
      </tr>
      <tr>
        <td width="40%">
          <label class="control-label">{{ 'label.input.description' | translate }}<span class="required">*</span></label>
          <textarea rows="2" id="description" name="description" ng-model="formData.description" required late-validate/></textarea>
            <form-validate valattributeform="createrecurringdepositproductform" valattribute="description"/>
        </td>
        <td width="30%">
          <label class="control-label">{{ 'label.input.interestcompoundingperiod' | translate }}&nbsp;<span class="required">*</span></label>
          <select id="interestCompoundingPeriodType" ng-model="formData.interestCompoundingPeriodType" ng-options="type.id as type.value for type in product.interestCompoundingPeriodTypeOptions" value="{{type.id}}">
          </select>
        </td>